---
# MOMNIT CONFIGURATION

- name: Create mongo directories
  file:
    path="{{item}}"
    state=directory
  with_items:
   - "{{home_dir}}"
   - "{{mongo_extract_dir}}"
   - "{{mongo_installation_dir}}"
   - "{{mongo_instance_dir}}"
   - "{{mongo_config_dir}}"
   - "{{mongo_database_dir}}"
   - "{{mongo_log_dir}}"
   - "{{mongo_scripts_dir}}/"
  tags: installation
  when: mongo_action == 'install'

- name: Download MongoDB
  connection: local
  get_url: 
     url="{{mongo_download_url}}"
     dest="{{mongo_download_dir}}/"
  tags: download
  when: mongo_action == 'install'

- name: Unpacking MongoDB
  unarchive: 
     src="{{mongo_download_dir}}/{{mongo_downloaded_filename}}"
     dest="{{mongo_extract_dir}}"
  tags: unpack
  when: mongo_action == 'install'

- name: creating mongo config file
  template:
    src="./mongodb.conf"
    dest="{{mongo_configfile}}"
    mode=755
  tags: installation
  when: mongo_action == 'install'

- name: moving keyFile
  copy:
    src="{{mongo_keyfile}}"
    dest="{{mongo_keyfile_path}}"
    mode=600
  tags: installation
  when: mongo_action == 'install' and mongo_keyfile is defined

- name: moving monit check mongo file
  template:
    src="./monit_mongo.cfg"
    dest="{{monit_extra_checks_dir}}/{{mongo_port}}_monit_mongo.cfg"
    mode=700
  tags: installation
  when: mongo_action == 'install' and monit_extra_checks_dir is defined

- name: moving mongo startup script
  template:
    src="./startMongo.sh"
    dest="{{mongo_starter_script}}"
    mode=755
  notify:
    - start mongodb
  tags: installation
  when: mongo_action == 'install'

- name: moving mongo create admin js
  template:
    src="./admin_user.js"
    dest="{{mongo_scripts_dir}}/"
    mode=755
  tags: installation
  when: mongo_action == 'prepare_primary'
  ignore_errors: yes

- name: moving mongo replicaset starter script
  template:
    src="./initiateRepSet.sh"
    dest="{{mongo_scripts_dir}}"
    mode=755
  tags: primary
  when: mongo_action == "prepare_primary"
  ignore_errors: yes

- name: moving mongo create admin script
  template:
    src="./createAdminUser.sh"
    dest="{{mongo_scripts_dir}}"
    mode=755
  notify:
    - start replicaset
    - create admin user
  tags: primary
  when: mongo_action == "prepare_primary"
  ignore_errors: yes
